* {
    box-sizing:border-box;
    padding:0%;
    margin:0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media only screen and (min-width:992px) {
    section {
        width: 32%;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    section {
        width: 48%;
    }
    section.thi {
        width: 97%;
        margin-left:1%;
    }
}

@media only screen and (max-width:767px) {
    section {
        width: 96%;
    }
        section.thi {
            margin-left:1%;
        }
}
h1 {
    text-align:center;
    margin:3%;
    font-size:3em;
}
section {
    background-color:grey;
    border: 1px solid black;
    float:left;
    margin-bottom:1%;
}

#name {
    float: right;
    border: 1px solid black;
    padding:1%;
    font-size:2em;
}
.fir {
    background-color: cadetblue;
}
.sec {
    background-color: indianred;
}
.thi {
    background-color: darkseagreen;
}
section.thi {
    background-color:grey;
}
#content {
    clear:right;
    align-items:center;
    padding:5%;
    font-size:1em;
}
#first {
    margin-left:1%;
}
#second {
    margin-left:1%;
    margin-right:1%;
}
#third {
    margin-right:1%;
}
